@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #00ABB3;
}

.wrapper {
  width: 770px;
  padding: 35px;
  background: #3C4048;
  border-radius: 5px;
}

.wrapper .contentBox {
  padding: 13px 22px 0;
  border-radius: 5px;
  border: 1px solid #3C4048;
  background: #EAEAEA;
}

.contentBox .typingText {
  max-height: 225px;
  overflow-y: auto;
}

.typingText::-webkit-scrollbar {
  width: 0;
}

.typingText p {
  font-size: 21px;
  text-align: justify;
  letter-spacing: 1px;
  word-break: break-all;
  color: #3C4048;
}

.typingText p span{
  position: relative;
}

.typingText p span.active{
  color: #00ABB3;
}

.typingText p span.active::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  opacity: 0;
  background: #00ABB3;
  animation: blink 1s ease-in-out infinite;
}
@keyframes blink{
  50%{
    opacity: 1;
  }
}

.typingText p span.correct{
  color: #55bd49;
  outline: 1px solid #EAEAEA;
  border-radius: 4px;
}
.typingText p span.incorrect{
  color: #ee383e;
  background: #ffc0cb;
  outline: 1px solid #EAEAEA;
  border-radius: 4px;
}

.contentBox .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 17px;
  padding: 12px 0;
  border-top: 1px solid #3C4048;
}

.content button {
  border: none;
  outline: none;
  width: 105px;
  padding: 8px 0;
  color: #EAEAEA;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  background: #3C4048;
  transition: transform 0.3s ease;
}

.content button:active {
  transform: scale(0.97);
}

.content .showStats {
  display: flex;
  width: calc(100% - 140px);
  justify-content: space-between;
}

.showStats li {
  display: flex;
  list-style: none;
  height: 22px;
  align-items: center;
}

.showStats li:not(:first-child) {
  padding-left: 22px;
  border-left: 1px;
}

.showStats li p {
  font-size: 19px;
  color: #3C4048;
}

.showStats li span {
  display: block;
  font-size: 20px;
  margin-left: 10px;
  color: #3C4048;
}

.showStats li:not(:first-child) span {
  font-weight: 500;
}

.showStats li b {
  font-weight: 500;
}